.header {
    width: 100%;
    color: black;
    margin-bottom: 10px;
    background-color:#00008b;
    padding: 20px;
    font-size: 30px;
}

.title {
    float: left;
}

.scores {
    float: right;
}